<div class="container">
  
    
    <div class="search-container">
      <input 
        type="text" 
        [(ngModel)]="productId" 
        placeholder="Enter Product ID" 
        class="input-field"
      />
      <button (click)="findUser()" class="search-button">Find Product</button>
    </div>
  
    <p *ngIf="searchError" class="error-message">{{ searchError }}</p>
  
  
    <div *ngIf="products.length > 0" class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <h3>{{ product.productName }}</h3>
        <p><strong>productId:</strong> {{ product.productId }}</p>
        <p><strong>ShippingAddress:</strong> {{ product.ShippingAddress }}</p>
        <p><strong>discount:</strong> {{ product.discount }}</p>
        <p><strong>phoneNumber:</strong> {{ product.phoneNumber }}</p>
  
        <div class="button-group">
          <button (click)="editProduct(product)" class="edit-button">Edit</button>
          <button (click)="deleteUser(product.productId)" class="delete-button">Delete</button>
        </div>
      </div>
    </div>
  
    <p *ngIf="products.length === 0 && !searchError">No products available.</p>
  </div>
  